/* 此文档定义了 Internet Explorer 支持页面的样式。 */

/* 设置文档主体部分的样式。 */
body {
    /* Public style */
    margin: 0 auto;
    font-family: "HarmonyOS Sans SC", Inter, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    /* For IE 9- */
    padding: 0 240px 0 240px;

    /* For IE 10+ and modern browsers  */
    padding: 0 15vw 0 15vw;
}

/* 设置脚注的格式。 */
footer {
    /* Public style */
    text-align: center;
}

/* 设置一级标题的属性。 */
h1 {
    /* Public style */
    line-height: 1.5;
    font-weight: 700;

    /* For IE 9- */
    font-size: 32px;

    /* For IE 10+ and modern browsers */
    font-size: 2rem;
}

/* 设置二级标题的属性。 */
h2 {
    /* Public style */
    line-height: 1.5;
    font-weight: 500;
    border-bottom: 3px solid #ccc;

    /* For IE 9- */
    font-size: 24px;

    /* For IE 10+ and modern browsers */
    font-size: 1.5rem;
}

/* 设置段落的属性。 */
p {
    /* Public style */
    line-height: 1.5;
    font-weight: 300;

    /* For IE 9- */
    font-size: 16px;

    /* For IE 10+ and modern style */
    font-size: 1rem;
}

/* 设置链接的属性。 */
a {
    /* Public style */
    color: #09c;
    text-decoration: none;

    /* For IE 10+ and modern style */
    transition: 0.4s;
}

/* 设置链接鼠标悬停的样式。 */
a:hover {
    /* For IE 8- */
    background-color: #d6f5ff;

    /* For IE 9+ and modern style */
    background-color: hsla(195, 100%, 60%, 0.2);
}

/* 设置推荐浏览器部分的布局。 */
.alternate-broswers {
    /* Public style */
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

/* 设置推荐浏览器部分的链接的布局。 */
.alternate-broswer-link {
    /* Public style */
    float: left;

    /* For IE 9- */
    padding: 24px;

    /* For IE 10+ and modern style */
    padding: 1.5rem;
}

/* 设置推荐浏览器部分的图标格式。 */
.alternate-broswer-icon {
    /* Public style */
    margin: -6px 8px 0 0;
    vertical-align: middle;
    border: none;

    /* For IE 9- */
    width: 24px;
    height: 24px;

    /* For IE 10+ and modern style */
    width: 1.5rem;
    height: 1.5rem;
}

/* 免责声明的样式。 */
.disclaimer {
    /* Public style */
    text-align: left;
    color: gray;

    /* For IE 9- */
    font-size: 12px;

    /* For IE 10+ and modern style */
    font-size: 0.75rem;
}

/* 设置摘要的属性。 */
.summary {
    /* Public style */
    display: block;
    line-height: 1.5;
    font-weight: 400;

    /* For IE 9- */
    font-size: 24px;

    /* For IE 10+ and modern style */
    font-size: 1.5rem;
}

/* 切换语言的按钮停止在页面右侧。 */
#switch-language-link {
    /* Public style */
    float: right;
}